/data/
/cifar10/
/.venv/
/mnist/
/wandb/
/cropped_celeba/
/UNet/results/
/UNet/models
/cropped_celeba_bin/
/cropped_celeb_dataBatches_rest/
/UNetResBlock/results/
/UNetResBlock/models
/Diffusion/
/cropped-celeba.zip
/logs
/generateAndRead/binSamples/
*.log
*.pt
*.npy